.container{
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
}

@media (max-width: 700px){
		.container {
			display: block;
		}
	}



body{
	margin-top: 100px;
	background: linear-gradient(to bottom, white 0%, black 100%);
}

.title{
	color: white;
	text-decoration: none;
}

h1{
	margin: 0px 0px 0px 0px;
	font-size: 2pt;
	padding: 0px 0px 0px 15px;
}





h2{
	font-size: 20pt;
}



article{
	border-radius: 6px 6px 6px 6px;
	width: 80%;
	padding: 5px;
	margin: 10px;
	background-color: white;
	box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
}

aside{
	border-radius: 6px 6px 6px 6px;
	width: 80%;
	padding: 5px;
	margin: 10px;
	background-color: white;
	box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.3);
}


/* Slider Formatting */

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

